airflow/logs/
airflow/*.*
big_query/
cloud_sql/
templates/
venv/
.ipynb_checkpoints/
__pycache__/
.idea/
robinhood_sheryl/secrets/
robinhood_sheryl/secrets.py
prod_dump*.sql
robinhood_sheryl_v4.ipynb
.*~
*.json
*.sh
